<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6  mt-4 footer-links">
                    <p class="mb-4 fs-5 fw-bolder">NAVIGATION</p>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6  mt-4 footer-links">
                    <p class="mb-4 fs-5 fw-bolder">CATEGORIES</p>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 footer-links">
                            <ul>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Biography</a></li>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Chick Lit</a></li>
                                <li><a href="#">Children's</a></li>
                                <li><a href="#">Christian</a></li>
                                <li><a href="#">Classics</a></li>
                                <li><a href="#">Comics</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 ">
                            <ul>
                                <li><a href="#">Contemporary</a></li>
                                <li><a href="#">Cookbooks</a></li>
                                <li><a href="#">Crime</a></li>
                                <li><a href="#">Ebooks</a></li>
                                <li><a href="#">Fantasy</a></li>
                                <li><a href="#">Fiction</a></li>
                                <li><a href="#">Gay And Lesbian</a></li>
                                <li><a href="#">Graphic Novels</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 ">
                            <ul>
                                <li><a href="#">Historical Fiction</a></li>
                                <li><a href="#">History</a></li>
                                <li><a href="#">Horror</a></li>
                                <li><a href="#">Humor And Comedy</a></li>
                                <li><a href="#">Manage</a></li>
                                <li><a href="#">Memoir</a></li>
                                <li><a href="#">Music</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 footer-links">
                    <p class="mb-4 fs-5 fw-bolder">FOLLOW US</p>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">RSS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>
